- pages ||= @pages
- facet ||= 'date_stats'
- heading ||= facet
- param ||= facet
- aggs = pages.aggs
- agg = aggs[facet]

- if agg
  - min_date = Date.parse(@params[:date_from].presence || agg['min_as_string'])
  - max_date = Date.parse(@params[:date_to].presence || agg['max_as_string'])

  %h3
    = heading

  %p.dates
    %span.date_from
      %input{type: "date", name: "date_from", value: min_date}
    %span.conjunction
      to
    %span.date_to
      %input{type: "date", name: "date_to", value: max_date}