.builder
  h1.builder
    position: relative
    margin-left: 7vw
    margin-top: 1em

  #edit
  #preview

  #controls
    position: fixed
    top: 80px
    right: 30px
    width: 300px
    height: auto
    +clearfix
    background-color: rgba(255,255,255,0.95)
    box-shadow: 0 1px 6px rgba(0,0,0,0.6)
    border-radius: 6px
    padding: 10px
    ul.control_buttons
      font-size: 1rem
    .confirmation
      display: none
      margin: 1em
      a
        color: $green
        +hover
    p
      margin-top: 0
      clear: both
      &:last-child
        margin-bottom: 0
      &.confirm
        margin-bottom: 1em
        svg + span.label
          width: calc(100% - 40px)
          vertical-align: top
        a.page
          color: $green
    ul.steps
      list-style: none
      a.builder:before
        content: "↤ "
    .previewed
      a.save, a.publish, a.back
        padding: 10px 0 10px 10px
        display: block
        position: relative
        cursor: pointer
        &:hover
          color: $hover
        &:active
          box-shadow: inset 0 2px 6px $shadow
        &.waiting
          color: $pale
          pointer-events: none
          &:before
            content: ""
            background:
              color: white
              position: center center
              size: cover
              repeat: no-repeat
              image: image_url('chemistry/spinner.svg')
            width: 30px
            height: 30px
            float: left
            margin: 6px 8px 0 -36px
    .builderbuttons
      display: flex
      padding: 1em
      align-items: center
      justify-content: space-evenly
      a.save
        color: $blue
      a.publish
        color: $purple

  #builder
    width: 86%
    margin: 0 auto
    box-sizing: border-box
    padding-top: 0
    div.section
      position: relative
      width: 100%
      margin: 0
      display: inline-block
      overflow: hidden
      float: left
      h2.step
        margin: 1em 0
      .editing
        input[type="text"]
          display: block
          -webkit-appearance: none
          background-color: none
          border: none
          outline: none
          border-bottom: 1px solid $pale
          padding: 10px 0
          font-size: 2rem
          color: $dark
          width: 100%
          margin: 5em 0 1em 0
        .body
          background-color: $coolgrey00
          min-height: 20em
          padding: 1em
          *:first-child
            margin-top: 0
          *:last-child
            margin-bottom: 0
        &.page_socials
          margin-bottom: 3em

  #builder
    a.back, a.continue, a.publish
      -webkit-appearance: none
      display: block
      background-color: none
      border: none
      font-size: 1.25rem
      cursor: pointer
    a.back
      padding: 10px 10px 10px 0
      float: left
      clear: left
      color: $pale
      &:hover
        color: $hover
    a.continue, a.publish
      padding: 10px 0 10px 10px
      float: right
      color: $link
      &:hover
        color: $hover
    a.publish
      color: $hover
    div.notes
      clear: both
      ul.key
        float: left
        padding: 0
        margin: 0 1em 0 0
        color: $mid
        list-style: none
        li
          margin: 0.5em 0
          color: $pale
      p.notes
        clear: both
        padding: 2em 0
        color: $mid
