=smallbutton($color: $green, $textcolor: white)
  +button($color, $textcolor)
  padding: 4px 8px
  font-size: 1rem

=button($color: $green, $textcolor: white)
  display: inline-block
  pointer-events: auto
  margin: 0 0.5em 8px 0
  padding: 8px 16px
  +bg($color, $textcolor)
  cursor: pointer
  box-sizing: border-box
  white-space: nowrap
  +cms_font_light
  &:hover
    box-shadow: 0 2px 3px $shadow
  &:active
    box-shadow: inset 0 1px 6px $shadow
  &.save
    +bg($greenish)
    &:hover
      +bg($green)
  &.revert
    +bg($reddish)
    &:hover
      +bg($red)
  &.publish
    +bg($purpleish)
    color: white
    &:hover
      +bg($purple)
  &.delete
    +bg($reddish)
    &:hover
      +bg($red)
  &.cancel
    background: $coolgrey00
    &:hover
      background: $red
      color: white
  &.unavailable
    +bg($verypale)
  &.waiting
    pointer-events: none
    padding-left: 30px
    color: white
    text-indent: 1000px
    background:
      color: $pale !important
      position: center center
      repeat: no-repeat
      image: image-url('chemistry/white_spinner.svg')
      size: 24px

div.buttons
  margin-top: 1em

a.button
  +button

  & + span.conjunction
    padding: 8px 4px

a.cancel
  color: $pale
  +hover


div.confirm
  position: absolute
  display: block
  z-index: 1000
  border: 1px solid $pale
  padding: 10px
  margin: -10px 0 0 -10px
  max-width: 200px
  background-color: $menubg
  box-shadow: 1px 3px 5px $shadow
  border-radius: 3px
  text-align: center
  span.message
    display: block
    &:empty
      display: none
  span.decision
    a.confirm
      +button($red)
      display: inline-block
      margin: 5px 0
      cursor: pointer
    a.cancel
      display: block
      color: $pale
      cursor: pointer
      +small
      +hover
