.cms-sorts
  a, a:visited
    display: inline-block
    padding: 0.25em 1.5em 0.25em 0
    color: $pale
    &.here
      color: $dark
    &.asc:before
      content: "⇡ "
    &.desc:before
      content: "⇣ "

ul.contents
  padding: 0
  margin: 0
  li
    margin: 0.5em 0
  li.waiter
    color: $pale
    text-indent: 40px
    background:
      image: image-url('chemistry/spinner.svg')
      position: top left
      repeat: no-repeat
      size: contain
  a.page
    font-weight: lighter
    span.title
      color: $dark
      font-size: 1.5em
    span.notes
      font-size: 0.8rem
      color: $mid
      display: block
