.editor
  [contenteditable]:not([contenteditable=false])
    display: block
    position: relative
    box-sizing: border-box
    cursor: text
    color: $editfg
    background-color: $editbg
    outline: none
    +cms-font-light
    font-size: 1.2rem
    width: 100%
    &[disabled]
      pointer-events: none
    &:focus
      outline: 0

  [data-placeholder]:empty:before
    content: attr(data-placeholder)
    color: $pale
