#nav
  position: absolute
  top: 0
  left: 0

#main
  position: relative
  margin: 0
  width: 100%
  min-height: 100%
  #chemistry-management
    width: 90%
    max-width: 920px
    margin: auto
    padding-top: 80px
    display: flex
    flex-flow: row nowrap
    align-items: flex-start
    justify-content: space-between
    h1:first-child, h2:first-child, p:first-child
      margin-top: 0
    #chemistry-main
      width: 68%
      min-height: 500px
    #chemistry-notes
      width: 28%
      min-height: 200px
      margin-top: 6em
      color: $pale

#notices
  position: absolute
  bottom: 4%
  right: 4%


@media (max-width: 700px)
  #main
    #chemistry-management
      flex-flow: column nowrap
      padding-top: 40px
      #chemistry-main, #chemistry-notes
        width: 100%
      #chemistry-notes
        margin-top: 1em
