#cms-nav
  position: absolute
  top: 0
  right: 0
  z-index: 500
  & > div
    width: 100%
    height: 100%

#main
  position: relative
  margin: 0
  width: 100%
  min-height: 100%
  z-index: 100
  article.cms-admin
    position: relative
    width: 60%
    margin: 0 25% 0 15%
    min-height: 100vh

#waiter
  position: relative
  margin: 0
  width: 100vw
  height: 100vh
  display: none
  align-items: center
  justify-content: center
  flex-flow: column nowrap
  color: $pale
  &.waiting
    display: flex
  p
    font-size: 2rem
    font-weight: lighter

#notices
  position: absolute
  bottom: 4%
  right: 4%
  z-index: 600

#page_help
  display: none

.onecol, .twocol
  margin: 0.75em 0
  span.col
    display: inline-block
    vertical-align: top

.twocol
  span.col
    width: 49%
    margin: 0 2% 0 0
    input
      width: 100%
    &:last-child
      margin-right: 0

.onecol
  span.col
    width: 100%

[data-label]
  display: block
  &:before
    display: block
    float: left
    content: attr(data-label)
    margin: 0 8px 0 -90px
    font-style: italic
    font-size: 1rem
    color: $pale
    text-align: right
    vertical-align: top

h2[data-label]:before
  margin-top: 0.6rem

h1
  a.backto
    color: $mid
    +hover

@media (max-width: 750px)
  #main
    #chemistry-management
      flex-flow: column nowrap
      padding-top: 40px
      #chemistry-main, #chemistry-notes
        width: 100%
      #chemistry-notes
        margin-top: 1em
