header#cms-nav
  position: fixed
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  background-color: rgba(255, 255, 255, 0)
  pointer-events: none
  transition: background-color 0.25s ease-out
  .shortcuts
    opacity: 1
    transition: opacity 0.25s ease-out
  a.shortcut
    color: $verypale
    cursor: pointer
    pointer-events: auto
    display: block
    position: absolute
    top: 16px
    left: 72px
    width: 32px
    height: 32px
    border-radius: 16px
    background-color: white
    border: 1px solid white
    svg
      width: 32px
      height: 32px
    &.unavailable
      display: none
    &.save
      color: $blue
    &.publish
      color: $purple
    &.review
      color: $mid

  &.up
    background-color: $control_bg
    pointer-events: auto
    a.menu
      background-color: transparent
      color: $mid
      svg.close
        display: block
      svg.open
        display: none
    nav
      opacity: 1
    .shortcuts
      opacity: 0.2
      pointer-events: none

  #chemistry_version
    position: fixed
    bottom: 10px
    right: 10px
    font-size: 2rem
    color: $verypale
    +cms-font-heading
    font-weight: lighter
    p
      margin: 0

  a.menu
    position: absolute
    top: -64px
    left: -64px
    width: 128px
    height: 128px
    border-radius: 64px
    display: block
    transition: color 0.1s ease-out
    cursor: pointer
    pointer-events: auto
    background-color: $control_bg
    color: white
    &:hover
      background-color: $rubine
      color: white
    svg.open
      width: 24px
      height: 24px
      position: absolute
      bottom: 25px
      right: 27px
    svg.close
      display: none
      width: 36px
      height: 36px
      position: absolute
      bottom: 18px
      right: 20px

  .shortcuts
    opacity: 1

  nav
    position: relative
    display: block
    transition: opacity 0.25s ease-out
    opacity: 0
    ul.menu
      position: absolute
      top: 44px
      left: 0
      list-style: none
      clear: both
      padding: 0
      margin: 0
      width: 220px
      display: block
      li
        +clearfix
      a
        color: $mid
        transition: color 0.5s ease-out
        &:hover
          color: $rubine
        &.close
          svg.icon
            margin: 16px
        &.notyet
          color: $pale
          text-decoration: line-through
          pointer-events: none
      svg.icon
        display: inline-block
        vertical-align: middle
        width: 32px
        height: 32px
        float: right
        margin: 4px 16px 8px 8px
      span.label
        display: block
        vertical-align: middle
        font-size: 1.35rem
        text-align: right
        margin: 4px 0
        line-height: 44px

  #cms-controls
    position: absolute
    display: block
    top: 0
    right: 0
    width: 30vw
    &:empty
      display: none
    ul.buttons
      list-style: none
      font-size: 1.5rem
      li
        margin: 0.5em 0
    a
      transition: color 0.25s ease-out
      cursor: pointer
      svg
        width: 32px
        height: 32px
      &:hover
        opacity: 1
      &.save
        color: $green
      &.revert
        color: $red
      &.publish
        color: $purple
      &.review
        color: $blue
      &.config
        color: $orange
      &.unavailable
        cursor: text
        pointer-events: none
        color: $pale

  #queue
    position: absolute
    top: 60px
    right: 16px
    width: 168px

  #dialog
    position: fixed
    top: 0
    right: 0
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    &.up
      pointer-events: auto


@media (max-width: 750px)
  header#cms-nav
    nav
      .mask
        display: block
