ul.pages
  list-style: none
  padding: 0
  li.page
    position: relative
    min-height: 48px
    margin-bottom: 0.5em
    a
      color: $mid
      &:hover
        color: $dark
    &.new
      a
        color: $pale
        &:hover
          color: $green
    span.indent
      display: inline-block
      float: left
      height: 48px
    span.actions
      display: none
      padding-top: 2px
      a
        width: 22px
        display: inline-block
        cursor: pointer
        svg.icon
          width: 22px
          height: 22px
          margin-top: 2px
      a.delete
        color: $red
      a.add
        color: $green
      a.config
        color: $mid
      a.unavailable
        color: $pale
        pointer-events: none
    svg.page, img.page_icon
      display: inline-block
      float: left
      width: 30px
      height: 40px
      margin-right: 10px
    span.detail
      span.title, span.description
        line-height: 1.3
      span.title
        +cms-font-light
        font-size: 1.75rem
      span.description
        font-size: 0.9rem
    &:hover
      span.actions
        display: inline

h2.page
  margin: 0
  padding: 0
  position: relative
  min-height: 64px
  color: $pale
  svg.page
    display: inline-block
    float: left
    width: 30px
    height: 40px
    margin-right: 10px
  span.detail
    display: block
    span.heading, span.description
      display: block
      line-height: 1.3
    span.heading
      +cms-font-light
      font-size: 1.75rem
    span.description
      font-size: 0.9rem


@media (max-width: 700px)
  ul.pages
    li.page
      min-height: 32px
      clear: left
      svg.page, img.page_icon
        width: 22px
        height: 30px
      span.detail
        span.title
          font-size: 1.25rem
        
