// lightweight, overridable section basics

#page_content
  section

    &.title
      margin-top: 8em
      h1
        margin-bottom: 0.25em

    &.contents
      &.previews, &.bigtop
        .built
          .child-page
            clear: both
            margin-bottom: 2em
            .picture
              position: relative
              display: inline-block
              width: 25%
              min-height: 160px
              margin-right: 2%
              vertical-align: top
              img
                width: 100%
                height: auto
                background-color: $mid
            .summary
              h3
                margin-top: 0
                margin-bottom: 0.1em
                max-width: 70%
                line-height: 1.4
              position: relative
              display: inline-block
              width: 72%
              min-height: 160px
              margin: 0
              vertical-align: top


@media (max-width: 750px)
  #page_content
    section
      &.hero
        figure
          .fg
            bottom: 1.5em
          h1
            font-size: 2em
      &.illuminated
        div.illumination
          margin: 0.6em 20px 20px -10%
          figure.bg
            .cms-menu
              .menu-body
                right: -5px
                left: auto
