#svg_holder
  display: none
  position: absolute
  top: 20px
  right: 20px
  width: 120px
  background-color: white
  padding: 10px
  min-height: 120px
  svg
    path, polygon, circle
      fill: currentColor

svg.icon
  width: 24px
  height: 24px

svg.preview
  width: 96px
  height: 128px
