@keyframes bulge
  0%, 100%
    transform: scale(1)
  10%
    transform: scale(1.4)


table.terms
  margin-top: 40px
  width: 97%
  border-top: 1px solid white
  border-collapse: collapse
  th, td
    padding: 12px 0 12px 0
    border-bottom: 1px dotted var(--cms-color-pale)
    vertical-align: top
  th
    text-align: left
  td.term
    font-weight: 300
    width: 30%
    font-size: 1.5rem
    padding-right: 10px
    a
      +inverted
    a.attach
      position: relative
      display: block
      float: right
      width: 24px
      height: 24px
      margin-top: 6px
      margin-right: 4px
      color: var(--cms-color-green)
      cursor: pointer
      svg
        width: 24px
        height: 24px
        position: absolute

  td.usage
    width: 70%
    ul
      font-size: 0.9rem
      list-style: square inside
      color: var(--cms-color-mid)

#cloud
  position: relative
  margin-top: 2em
  border-top: 1px solid white
  svg
    text.term
      cursor: pointer
      fill: var(--cms-color-coolgrey8)
      transition: fill 0.25s ease-out
      &.guided
        fill: var(--cms-color-coolgrey11)
      &:hover
        fill: var(--cms-color-link)

ul.terms
  font-size: 0.9rem
  list-style: square inside
  color: var(--cms-color-mid)
  padding: 0

li.term
  display: inline-block
  transition: transform 0.25s ease-out, background 0.25s ease-out
  background-color: var(--cms-color-blue)
  border-radius: 20px
  padding: 6px
  margin: 0 4px 4px 0
  min-width: 22px
  &.add
    background-color: var(--cms-color-green)
    text-align: center
  &.working
    background-color: var(--cms-color-pale)
  a, span.term
    color: white
    overflow: hidden
    display: inline-block
    vertical-align: top
    padding: 0 6px
    cursor: pointer
    white-space: nowrap
  &:hover
    background-color: var(--cms-color-link)
  span.collection
    color: var(--cms-color-pale)
  &.dragged
    opacity: 0.2
  &.dragging
    position: absolute
    opacity: 0.6
    z-index: 1000
    pointer-events: none
    transform: scale(1.25)
    background: var(--cms-color-translucent)
    box-shadow: 1px 0 10px var(--cms-color-shadow)
    pointer-events: none
    a, span.term
      color: var(--cms-color-mid)
    a.delete
      display: none
  &.droppable
    border-color: var(--cms-color-highlight)
    box-shadow: inset 2px 0 8px var(--cms-color-shadow)
  &.splash
    animation: bulge 1s 1
    animation-timing-function: ease-out

ul.sortable_items
  list-style: none
  padding-left: 30px
  li
    &:before
      content: "☰"
      font-size: 70%
      display: inline-block
      width: 30px
      margin-left: -30px

form.term
  p.term
    margin: 0
    input
      width: 520px
      font-size: 1.5em
