- excerpt ||= nil
- page ||= excerpt || @page

%li.page{data: {page: page.id}}
  %a.page{href: page.path}
    %span.detail
      %span.title
        = page.title
      %span.summary
        = truncate strip_tags(page.summary.presence || page.excerpt), length: 128