%aside.navigation
  %h4
    In this section
  %ul.pages.toc
    - @pages.each do |page|
      %li
        - if page == @page
          = page.title
        - else
          = link_to page.title, chemistry.published_page_url(page.path)
