%main
  #cms_illustration

  #cms_body
    #cms_title
      %h1.pagetitle
        %h1
          = t("errors.page_not_found")

    #standfirst
      %p.large
        = t("errors.page_not_found_text")

  - if params[:path].present?
    #buttons{data: {page: params[:path]}}
