#page{class: @page.published_style, data: {page: @page.id}}
  #masthead
    = sanitize(@page.published_masthead)
  #body
    #title
      = sanitize(@page.published_title)
    #content
      = sanitize(@page.published_content)
