- page_data = {page: @page.id}
- if @page.owner
  - page_data[@page.owner_type.underscore] = @page.owner_id

%article{class: @page.template_slug, data: page_data}
  - if @page.rendered_html
    .cms-sections
      = @page.rendered_html.html_safe

  - else
    %p.warning
      Nothing to display here.