- page_data = {page: @page.path}
- if @page.owner
  - page_data[@page.owner_type.underscore] = @page.owner_id

%article{class: @page.style, data: page_data}
  - if @page.published_html
      = sanitize(@page.published_html)

  - else
    %p.warning
      Nothing to display here.